---
layout: layout.liquid
title: Random Names
---

<div x-data="{ 
    names: ['Adi', 'Matt', 'Omar', 'Alissa', 'Rohan', 'Larry', 'Fatima', 'Orson', 'David', 'Felix'],
    name: '',
    show: true,
    randomName() {
        this.show = false;
        setTimeout(() => {
            let i = Math.floor(Math.random() * this.names.length);
            this.name = this.names[i];
            this.show = true;
        }, 300);
    }
}">
    
    <h1 x-show="show" x-text="name" x-transition.opacity.duration.300ms></h1>
    <button @click="randomName()">Name</button>

</div>
